select.inputSelect {
  width: 100%;
}

/* Combobox borrowed code */
div.combobox {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}

div.combobox {
  /* display: flex; */
  position: relative;
  zoom: 1;
}

div.combobox div.dropdownlist {
  display: none;
  box-sizing: border-box;
  width: 160%;
  border: solid 1px #cbcbcb;
  background-color: #fff;
  height: auto;
  max-height: 390px;
  overflow-x: auto;
  overflow-y: scroll;
  overscroll-behavior: none;
  position: absolute;
  left: 0px;
  top: 26px;
  margin: 0;
  padding: 0;
  /* padding-bottom: 3px; */
}

div.combobox div.dropdownlist .dropdownlist-hint {
  margin: 0;
  background: #ebebeb;
  font-weight: bold;
  box-sizing: border-box;
  padding: 5px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

div.combobox  div.dropdownlist div.dropdownlist-options {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
div.combobox  div.dropdownlist div.dropdownlist-scroll {
  width: 100%;
  background-color: rgba(255, 255, 0, 0.25);
  height: auto;
  overflow-y: scroll; 
  height:100%;
  margin: 0;
  margin-top: 30px;
  z-index: 1;
}

div.combobox  div.dropdownlist div.dropdownlist-options {
  width: 100%;
  background-color: rgba(255, 255, 0, 0.25);
  height: auto;
  overflow-y: scroll; 
  margin: 0;
  margin-top: 30px;
  z-index: 1;
}
*/


/* combobox dropdownlist options */
div.combobox .dropdownlist a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 1px;
  position: relative;
  height: 1em;
  cursor: default;
  padding: 3px 5px;
}

div.combobox .dropdownlist a[data-printers-quicklist] {
  /* background-color: yellow; */
}

div.combobox .dropdownlist a[data-printers-alllist] {
  background-color: cyan;
}

div.combobox .dropdownlist a:nth-child(n+100) {
  background-color: pink;
  /* background-color: deeppink; */
  display: none;
}

div.combobox .dropdownlist a:last-of-type {
  margin-bottom: 3px;
}

div.combobox .dropdownlist a.highlight {
  color: #fff;
  background-color: #0054e6;
}

div.combobox .dropdownlist a > b {
  /* remove bolding for letter matching since
   * current DBPrint does not support */
  font-weight: normal !important;
}

div.combobox .dropdownlist,
input {
  font-family: Tahoma;
  font-size: 12px;
}


div.combobox input {
  /* float: left;
  width: 92.6%; */
  border: solid 1px #ccc;
  box-sizing: border-box;
  /* flex: 1 1 auto; */
  height: 25px;
  margin: 0;
  padding: 0 26px 0 3px;
  position: absolute;
  width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.combobox input:focus {
  outline-offset: 3px;
}

div.combobox span {
  background: #eee;
  border: solid 1px #ccc;
  /* border-left: none; */
  cursor: default;
  /* flex: 0 0 20px; */
  font-family: Arial,sans-serif;
  font-size: 1.25rem;
  /* float: left; */
  height: 23px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 20px;
}


/**/
div.combobox .dropdownlist .outputDestination {
  display: none;
  cursor: pointer;
  background: none;
  font-weight: 300;
}
div.combobox .dropdownlist .outputDestination:hover {
  color: rgb(36, 91, 255);
}

.dbprintersList-specialCase {
  display: none;
}

.dbprintersList-specialCase .presetList {
  background: none;
  border: none;
  float: none;
  line-height: 0;
}
