select.inputSelect {
  width: 100%;
}

/* Combobox borrowed code */
div.combobox {
  font-family: Tahoma, sans-serif;
  font-size: 12px;
}

div.combobox {
  /* display: flex; */
  position: relative;
  zoom: 1;
}

div.combobox div.dropdownlist {
  display: none;
  box-sizing: border-box;
  width: 160%;
  border: solid 1px #cbcbcb;
  background-color: #fff;
  height: auto;
  max-height: 359px; /*339px;*/
  overflow-x: auto;
  overflow-y: scroll;
  overscroll-behavior: none;
  position: absolute;
  left: -2px;
  top: 27px;
  margin: 0;
  padding: 0;
  /* padding-bottom: 3px; */
}

div.combobox div.dropdownlist .dropdownlist-hint {
  margin: 0;
  background: #ebebeb;
  font-weight: bold;
  box-sizing: border-box;
  padding: 5px;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

div.combobox  div.dropdownlist div.dropdownlist-options {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* combobox dropdownlist options */
div.combobox .dropdownlist a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 1px;
  position: relative;
  /* height: 1.1666666667em; 1em; */
  height: auto;
  line-height: 1.1666666667;
  cursor: default;
  padding: 3px 5px 3px;
}

/*
div.combobox .dropdownlist a[data-printers-quicklist] {
  background-color: white;
}
*/
/*
div.combobox .dropdownlist a[data-printers-alllist] {
  background-color: white;
}
*/
/*
div.combobox .dropdownlist a[data-printers-alllist]:nth-child(n+103) {
  background-color: whitesmoke;
}
*/

div.combobox .dropdownlist a:first-of-type {
  margin-top: 1px;
}

div.combobox .dropdownlist a:last-of-type {
  margin-bottom: 3px;
}

div.combobox .dropdownlist a.selected {
  color: #000;
  background-color: rgba(221, 240, 255, 0.8);
}

div.combobox .dropdownlist a.highlight {
  color: #fff !important;
  background-color: #0054e6 !important;
}

div.combobox .dropdownlist a > b {
  /* remove bolding for letter matching since
   * current DBPrint does not support */
  font-weight: normal !important;
}

div.combobox .dropdownlist,
input {
  font-family: Tahoma;
  font-size: 12px;
}


div.combobox input.inputCombobox {
  /* float: left;
  width: 92.6%; */
  border: solid 1px #ccc;
  box-sizing: border-box;
  /* flex: 1 1 auto; */
  height: 25px;
  margin: 0;
  padding: 0 26px 0 3px;
  position: absolute;
  width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
}

/* change this up */
div.combobox input:focus {
  /* outline-offset: 3px; */
}

div.combobox input.inputCombobox[data-list-is-open=true] {
  outline:rgb(36, 91, 255) 2px solid;
  outline-offset: 0px;
}



div.combobox span.iconChevron {
  background: #eee;
  border: solid 1px #ccc;
  /* border-left: none; */
  cursor: pointer;
  /* flex: 0 0 20px; */
  font-family: Arial,sans-serif;
  font-size: 1.25rem;
  /* float: left; */
  height: 23px;
  line-height: 21px;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  text-align: center;
  width: 20px;
  pointer-events: all;
  user-select: none;
}


/**/
div.combobox .dropdownlist .outputDestination {
  display: none;
  cursor: pointer;
  background: none;
  font-weight: 300;
}
div.combobox .dropdownlist .outputDestination:hover {
  color: rgb(36, 91, 255);
}

.dbprintersList-specialCase {
  display: none;
}

.dbprintersList-specialCase .presetList {
  background: none;
  border: none;
  float: none;
  line-height: 0;
}
