html,
body {
  word-wrap: break-word;
  word-break: break-word;
  font-family: Tahoma,Geneva,Verdana,Trebuchet MS,sans-serif;
  font-size: 75%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  overscroll-behavior: none;
  /* max-width: 1480px;
  max-height: 767px; */
  outline: none;
}

.hftest-body {
  background-color: #1c1c1c;
  margin: 0;
  padding: 0;
  overflow: scroll;
}

.hftest-container,
.hftest-container-testcomplete {
  background-color: #ddd;
  /* height: 840px;
  width: 1580px; */
  height: 810px;
  width: 1540px;
  margin: 0;
  position: absolute;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 3px 10px 5px rgb(0, 0, 0);
  /* border-radius: 6px; */
}

.hftest-container {
  height: 810px;
  width: 1540px;
  background-color: #f0f0f0; /*#ddd;*/
  background-image: url(images/freyjune_print_1540x810_1@2x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:100%;
  background-size:cover;
}

.hftest-container-testcomplete {
  height: 810px;
  width: 1540px;
  background-color: #f0f0f0; /*#888;*/
  background-image: url(images/freyjune_1540x810@2x.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:100%;
  background-size:cover;
}






.hftest-container.background1 {
  background-color: #ddd;
}

.hftest-container.background2 {
  background-color: #ff0;
}

.debug-data {
  left: 440px;
  position: absolute;
  top: 340px;
  display: none;
}


.hftest-container-testcomplete .debug-data {
  color: #fff;
  left: 680px;
  top: 400px;
}

div.overlay-mask {
  background-color: rgba(255, 255, 255, 0.001);
  /* background-color: rgba(255, 55, 55, 1); */
  height: 100%;
  width: 100%;
  position: relative;
}

/* -- COMBOBOX Location -- */

.location-one--hold {
  /* height: 46px; */
  width: 180px;

  left: 820px;
  position: absolute;
  top: 420px;

  /* height: 20px;
  left: 992px;
  position: absolute;
  top: 482px;
  width: 240px; */
}

.location-one-b {
  width: 180px;
  left: 820px;
  position: absolute;
  top: 320px;
}

/* -- COMBOBOX Location -- */
.location-one {
  /* height: 46px; */
  width: 216px;
  left: 904px;
  position: absolute;
  top: 476px;
}

.dbprint-select {
  z-index: 9999;
  margin-top: 2px;
  border-radius: 0;
  border: 1px solid #797979;
  width: 214px;
}

/* -- BUTTON Location -- */
.location-two {
  /* height: 34px; */
  width: 233px;
  left: 894px;
  position: absolute;
  top: 707px;
}


/* -- BUTTON -- */
.dbprint-button {
  text-align: center;
  font-size: 1rem;
  line-height: 1.41666667;
  font-family: Tahoma,Geneva,Verdana,Trebuchet MS,sans-serif;
  white-space: nowrap;
  cursor: pointer;
  padding: .25rem .83333333rem;
  border: 1px solid #64696c;
  display: inline-block;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background: -webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#dedfe0));
  background: -moz-linear-gradient(#f4f4f4,#dedfe0);
  background: linear-gradient(#f4f4f4,#dedfe0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.dbprint-button:hover {
  background: -webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#b2b5b6));
  background: -moz-linear-gradient(#f4f4f4,#b2b5b6);
  background: linear-gradient(#f4f4f4,#b2b5b6);
}

.dbprint-button:active {
  outline: 0;
  background: -webkit-gradient(linear,left top,left bottom,from(#f4f4f4),to(#64696c));
  background: -moz-linear-gradient(#f4f4f4,#64696c);
  background: linear-gradient(#f4f4f4,#64696c);
}



/* .printbutton {
  left: 992px;
  position: absolute;
  top: 520px;
} */


/* -- COMBO-BOX -- */
.dbprint-combobox {
  /* border-style: solid;
  border-color: #ed0000;
  border-width: 2px; */

  /* border-color: #e9e9e9; */
  /* border-style: inset none none inset; */

  /* height: 28px;
  left: 48%; */
  /* top: 17px;
  width: 48%; */
}






.bodyBackround {
  height: 767px;
  width: 1480px;
  overflow: scroll;
  /* background-color: black; */
  background-color: #ffffff;
  /* background-image: url(dbprintersBackground.jpg); */
  background-image: url(images/background1.png);
  background-repeat: no-repeat;
  /* background-size: 700px; */
  background-size: 1480px 767px;
}

.bodyBackground2 {
  background-image: url(images/background1.png);
  background-repeat: no-repeat;
  background-size: 1480px 767px;
}

.background--1 {
  background-image: url(images/background1.png);
  background-repeat: no-repeat;
  background-size: 1480px 767px;
}






.interactive-one {
  background: #f00;

  height: 50px;
  width: 50px;

  left: 50px;
  position: absolute;
  top: 50px;
}

.interactive-two {
  background: rgb(116, 116, 227);
  border: 1px solid #00f;

  height: 50px;
  width: 50px;

  left: 100px;
  position: absolute;
  top: 100px;
}